{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# <h1>{{ hello_world }}! ✅</h1> #}
    <h1 class="align-center w-85 m-5 "></h1>
{# 
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/EDW_2324/Desktop/symfony/blog/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/EDW_2324/Desktop/symfony/blog/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul> #}
</div>

{# {% set myVariable = "contenu variable en twig"%}
{{ myVariable }}

{% for user in users %}
{{ user }}   
{% endfor %} #}


    
        
<div class="container d-flex justify-content-between w-90">
    <div  class="d-flex justify-content-center w-85 flex-wrap " style="height: 100px; ">
        {% for article in articles %}
        <div class="card m-2" style="width: 25rem; height: 750px;">
            <img src="{{ asset('img/article/' ~ article.image) }}" class="card-img-top" alt="...">
            <div class="card-body ">
              <h5 class="card-title">{{ article.title | upper }}</h5>
              <a href="{{path('show', {'id': article.id })}}" class="btn btn-primary">En savoir plus</a>
              {# <a href="{{ home('home/show.html.twig', { 'article': article.id }) }}" class="btn btn-primary">En savoir plus</a> #} 
              {# {{ asset('public/img/article') }} #}
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="col-md-4">
        <h2>Catégories</h2>
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                    <a class="text-primary" href="{{path('show_articles_category', {'id': category.id})}}">{{ category.title }}
                        <span class="badge bg-primary rounded-pill mx-2">{{ category.articles | length }} article(s)</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
        {# <h2 class="text-center">Catégories</h2>
        <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                <a href="" class="text-primary">{{ category.title }}</a>
          
          <span class="badge bg-primary rounded-pill mx-2">2 article(s)</span>
        </li>
        {% endfor %}
        <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center"><a href="" class="text-primary">Ciné </a>
          
          <span class="badge bg-primary rounded-pill mx-2">2 article(s)</span>
        </li>
        <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center"><a href="" class="text-primary">Acteur</a>
           
          <span class="badge bg-primary rounded-pill mx-2">1 article(s)</span>
        </li>
    </ul> #}
    


    
</div>  


    {# Correction #}

    {# <div class="row">
        {% for article in articles %}
        <div class="card col-md-4" style="width: 18rem;">
            <p class="date">{{ article.createdAt | date("d/m/y")}}</p>
            <img src="{{article.image}}" class="card-img-top" alt="{{ article.title }}">
            <div class="card-body">
              <h5 class="card-title"> {{article.title }}</h5>
              <a href="#" class="btn btn-primary">En Savoir plus</a>
            </div>
          </div>
        {% endfor %}
    </div> #}
    

{# Cours exemple #}

{# {% set fruits = ["banane", "cerise", "fraise"]%}
    {% for fruit in fruits %}
        {{ fruit | upper}}
    {% endfor %}<br>

    {{"now"| date("m/d/Y")}} <br>
    {{"now"| date("d/m/y", 'Europe/Paris')}}<br>
    {{"now"| date("d/m/y H:i:s",'Europe/Paris')}}<br>


      
    <a href="{{ path('nom_de_la_route', { 'nom_param1': valeur_param1 }) }}" class="btn btn-primary">{{ article.title }}</a>


      {{ dump(articles) }} #}

{% endblock %}


